#tabexp{
	cursor: pointer;
	text-align: center;
	background-color: #f9f9f9;
}
.escondido{
	background-color: lightgray;
	display: none;
}
#tabexp td{
   text-align: center;
}
#tabexp td:not(.menos)::before {
	content: '▼'
}
#tabexp .menos::before {
	content: '▲'
}
